/* Jumbotron */
.jumbotron{
    background-image: url(../img/donation-banner.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    position: relative;
    margin-bottom: 0px;
    }
    
.jumbotron .container{
z-index: 1;
position: relative;
}

.jumbotron .display-4{
color: white;
margin-top: 250px;
font-size: 68px;
font-weight: 200;
}
    
.jumbotron .display-4 span{
    font-weight: 500;
}

.jumbotron .display-5{
color: white;
font-weight: 300;
font-size: 15px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.jumbotron::after{
content: '';
display: block;
width: 100%;
height: 50%;
background-image: linear-gradient(to top, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0));
position: absolute;
bottom: 0;
}